<!DOCTYPE html>
<meta charset="utf-8">
<style> html,

body {
    height: 100%;
}

.node {
  cursor: pointer;
  stroke:#000;
  stroke-width:1.5px;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label, .node--root, .node--leaf {
  pointer-events: none;
}

.packing-wrapper {
    display: inline-block;
}

.legend-div {
    display: inline-block;
    vertical-align: top;
}

</style>
<body>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script>
// Returns a random integer between min (included) and max (excluded)
// Using Math.round() will give you a non-uniform distribution!
function getRandomInt(min, max) {
	return Math.floor(Math.random() * (max - min)) + min;
}

function ColorLuminance(hex, lum) {
  // validate hex string
  hex = String(hex).replace(/[^0-9a-f]/gi, '');
  if (hex.length < 6) {
    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
  }
  lum = lum || 0;

  // convert to decimal and change luminosity
  var rgb = "#", c, i;
  for (i = 0; i < 3; i++) {
    c = parseInt(hex.substr(i*2,2), 16);
    c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
    rgb += ("00"+c).substr(c.length);
  }

  return rgb;
}

var margin = 20, diameter = 960;
var color = d3.scale.category20();

var pack = d3.layout.pack()
    .padding(4)
    .size([diameter - margin, diameter - margin])
    .value(function(d) { return d.size || 10; })

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "packing-wrapper")
    .append("g")
    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");
   
var legend = d3.select("body").append("div")
    .text("Contributor Legend")
    .attr("class", "legend-div");

var legendList = d3.select("div").append("ul");
    
d3.json("http://172.22.117.118:8090/testData.json", function(error, root) {
  if (error) throw error;

  var focus = root,
      nodes = pack.nodes(root),
      view,
      users = {};

  var circle = svg.selectAll("circle")
      .data(nodes)
      .enter().append("circle")
      .attr("class", function(d) { 
          return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; 
        })
      .style("fill", function(d) { 
    	  if(d.contributors) {
    		  var top = d.contributors[0];
              if(!users[top.user]) {
                  var newColor = color(getRandomInt(0, 20));
                  newColor = ColorLuminance(newColor, .00000005);
                  users[top.user] = newColor;
                  legend.append("li")
                    .text(top.user)
                    .attr("style", "color: " + newColor);
              }
    		  return users[top.user];
    	  } else {
                return 'white';
    	  }
    	})
        .on("click", function(d) {
            zoom(d);
            d3.event.stopPropagation();
        });

  var text = svg.selectAll("text")
      .data(nodes)
      .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { 
          return d.name; 
       });

  var node = svg.selectAll("circle,text");

  d3.select("body")
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);

  function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { 
    	return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")";
    });
    circle.attr("r", function(d) { return d.r * k; });
  }
});

d3.select(self.frameElement).style("height", diameter);

</script>
